.branch-name-wrapper {
	color: var(--color-text-semi_light);
}

.branch-name__row-wrapper {
	margin-top: 5px;
	display: flex;
	align-items: center;
}
.branch-name__input-wrapper {
	background-color: #091e4214;
	border-radius: 3px;
	padding: 5px;
	margin-right: 5px;
	min-height: 20px;
}
.branch-name__input {
	flex-grow: 1;
	color: var(--color-text-semi_light);
}
.copy-button-wrapper {
	background-color: var(--color-primary) !important;
	border: none;
	margin: 0;
	margin-right: 5px;
	padding: 5px 10px;
	border-radius: 3px;
	min-height: 20px;
}
.copy-button-wrapper:hover {
	background-color: var(--color-primary-semi_dark) !important;
}
.copy-button-wrapper:active {
	background-color: var(--color-primary) !important;
}
.copy-button {
	background-color: var(--color-primary) !important;
	color: var(--color-background) !important;
}
.copy-button a {
	text-decoration: none;
}
.copy-button:hover {
	background-color: var(--color-primary-semi_dark) !important;
	color: var(--color-background) !important;
}
.copy-button:active {
	background-color: var(--secondary-color-dark) !important;
	color: var(--color-background) !important;
}
.copy-button__icon {
	margin-top: -1px;
	display: block;
	background: url(https://img.icons8.com/sf-regular/22/ffffff/copy.png);
	width: 22px;
	height: 22px;
}
.copy-button__icon:hover {
	background: url(https://img.icons8.com/sf-regular-filled/22/ffffff/copy.png);
}
.copy-button__icon:active {
	background: url(https://img.icons8.com/sf-regular/22/ffffff/copy.png);
}
.copied-tooltip {
	cursor: default;
}

.j2c_show {
	opacity: 1;
	transition: opacity 0.25s ease-in-out;
}

.j2c_hide {
	opacity: 0;
	transition: opacity 0.25s ease-in-out;
}
