:root {
	--color-background: #ffffff;
	--color-primary: #00875a;
	--color-primary-semi_dark: #006946;
	--color-primary-semi_light: #6b8a7f;
	--color-primary-light: #f1f7f5;
	--color-primary-light: #f1f7f3;
	--color-border: #ebebeb;
	--color-text-dark: #4a4a4a;
	--color-text-light: #cacaca;
	--color-text-semi_light: #7a7a7a;
}
