* {
	box-sizing: border-box;
}
.hidden {
	display: none;
}
.spacer {
	flex-grow: 1;
}
.divider {
	border-bottom: 1px solid var(--color-border);
	margin: 0.5rem 0 0.5rem 0;
}

body {
	overflow-x: hidden;
	background: var(--color-primary);
	color: var(--color-text-dark);
	font-family: Helvetica, Arial, sans-serif;
	font-size: 0.9rem;
	line-height: 1.5rem;
	margin: 0;
	width: 100%;
}
@-moz-document url-prefix() {
	.body__popup {
		margin-right: 1rem; /* Passen Sie diesen Wert an */
	}
}

.body__popup {
	min-width: 34rem;
	max-width: 34rem;
}

.popup {
	background: var(--color-background);
}

input {
	background-color: rgba(9, 30, 66, 0.055);
	color: var(--color-text-dark);
	border: none;
	border-radius: 4px;
	outline: none;
	padding: 0.4rem;
}

/* Header */
.sticky-header {
	position: sticky;
	top: 0;
}
.header {
	align-items: center;
	background: var(--color-primary);
	color: var(--color-background);
	display: flex;
	height: 4rem;
	padding: 0 1.5rem;
}
.header__logo {
	height: 1.75rem;
}
.header__title {
	margin-left: 1rem;
	line-height: 1rem;
}
.header__title--primary {
	font-size: 1.1rem;
	font-weight: bold;
}
.header__title--secondary {
	color: var(--color-primary-light);
	font-size: 0.7rem;
}
.header__icon {
	color: #fff;
	cursor: pointer;
	height: 1.1rem;
	vertical-align: middle;
	width: 1.1rem;
	margin: 0.4rem;
}
.header__icon:hover {
	height: 1.3rem;
	width: 1.3rem;
	margin: 0.3rem;
}
.header__settings-wrapper {
	line-height: 1rem;
	border-radius: 100%;
	background-color: var(--color-primary);
}
.header__settings-wrapper--active {
	line-height: 1rem;
	border-radius: 100%;
	background-color: var(--color-primary-semi_light);
}

/* Tabs */
.tabs {
	align-items: center;
	border-bottom: 1px solid var(--color-border);
	background: var(--color-background);
	display: flex;
	font-size: 0.75rem;
}
.tab {
	color: var(--color-text-semi_light);
	cursor: pointer;
	letter-spacing: 0.5px;
	padding: 0.8rem 1.5rem 0.6rem 1.5rem;
	text-transform: uppercase;
	white-space: nowrap;
	position: relative;
	border-bottom: 3px solid var(--color-background);
}
.tab:hover {
	border-bottom: 2px solid var(--color-primary-semi_light);
}
.tab--active {
	background: var(--color-primary-light);
	border-bottom: 3px solid var(--color-primary);
	color: var(--color-primary);
	pointer-events: none;
}

/* Tab-Contents */
.tab-content {
	background: var(--color-background);
	overflow: hidden;
	min-height: 4rem;
	padding: 1rem 1.5rem 1rem 1.5rem;
}
.tab-content__title {
	font-weight: bold;
	margin-bottom: 0.25rem;
}
.tab-content-wrapper {
	margin-bottom: 1rem;
}

/* Tab -> Branch Names */
.prefix__row {
	display: flex;
	align-items: center;
	margin-bottom: 0.6rem;
}
.prefix__row input {
	min-width: 70%;
}
.prefix__row img {
	width: 1.1rem;
	margin-right: 0.5rem;
}
.pattern-wrapper input {
	width: 100%;
	margin-top: 0.4rem;
}
.pattern__example-text__soft-text {
	color: var(--color-text-semi_light);
}
.current-branch-name__row-wrapper {
	display: flex;
}
.current-branch-name__row-wrapper input {
	margin-right: 0.75rem;
	flex: 1;
}
.current-branch-name__text-row-wrapper {
	display: flex;
}
.copy-button-wrapper {
	background-color: var(--color-primary) !important;
	border: none;
	margin: 0;
	margin-right: 5px;
	padding: 5px 10px;
	border-radius: 3px;
	min-height: 20px;
}
.copy-button-wrapper:hover {
	background-color: var(--color-primary-semi_dark) !important;
}
.copy-button-wrapper:active {
	background-color: var(--color-primary) !important;
}
.copy-button {
	background-color: var(--color-primary) !important;
	color: var(--color-background) !important;
}
.copy-button a {
	text-decoration: none;
}
.copy-button:hover {
	background-color: var(--color-primary-semi_dark) !important;
	color: var(--color-background) !important;
}
.copy-button:active {
	background-color: var(--secondary-color-dark) !important;
	color: var(--color-background) !important;
}
.copy-button__icon {
	margin-top: -1px;
	display: block;
	background: url(https://img.icons8.com/sf-regular/22/ffffff/copy.png);
	width: 22px;
	height: 22px;
}
.copy-button__icon:hover {
	background: url(https://img.icons8.com/sf-regular-filled/22/ffffff/copy.png);
}
.copy-button__icon:active {
	background: url(https://img.icons8.com/sf-regular/22/ffffff/copy.png);
}
.copied-tooltip {
	color: var(--color-primary);
	cursor: default;
	margin-left: 0.5rem;
}
.j2c_hide {
	display: none;
}
.config-wrapper {
	height: 1.9rem;
}
.convert-whitespace-to-char__input {
	width: 3rem;
	text-align: center;
}
.max_branchname_length__input {
	width: 5rem;
}
.configuration-wrapper {
	margin-bottom: 0.5rem;
}

/* Tab -> Info */
.links-wrapper span {
	margin: 0rem 0.3rem 0rem 0.3rem;
	font-weight: bold;
}
.links-wrapper a {
	color: var(--color-primary);
}
.links-wrapper a:hover {
	color: var(--color-primary-semi_light);
}
.info-wrapper span {
	font-size: 0.8rem;
}
.info-wrapper {
	margin-bottom: 0;
}

/* Tab -> Settings */
.settings-wrapper {
	margin-bottom: 0.5rem;
}
.btn {
	cursor: pointer;
	background-color: var(--color-primary) !important;
	color: var(--color-background) !important;
	border: none;
	margin: 0;
	margin-right: 5px;
	padding: 5px 10px;
	border-radius: 3px;
	min-height: 20px;
	display: flex;
	justify-content: center;
}
.btn:hover {
	background-color: var(--color-primary-semi_dark) !important;
}
.btn:active {
	background-color: var(--color-primary) !important;
}
.btn a {
	user-select: none;
	text-decoration: none;
	cursor: pointer;
	text-decoration: none;
	text-align: center;
}

/* Footer */
.sticky-footer {
	position: sticky;
	bottom: 0;
	align-items: center;
	border-top: 1px solid var(--color-border);
	background: var(--color-background);
	display: flex;
	font-size: 0.75rem;
}
